.menu {
    padding-top: 40px;
    text-align: center;

    a {
        span {
            display: block;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;

            letter-spacing: 3px;
            padding-top: 6px;
            margin-bottom: 20px;
            text-transform: capitalize;
        }
    }
}

.menu-btn {
    width: 60px;
    height: 60px;
    align-items: center;
    justify-content: center;
    display: none;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute;
    z-index: 20;
    right: 20px;
    top: 20px;
    background-color: rgba(255,255,255,0.1);
    &__inner {
        width: 40px;
    }
    &__line {
        height: 5px;
        background-color: $green;
        + .menu-btn__line {
            margin-top: 5px;
        }
    }
}